.dropdown-exclude-list {
  display: block;

  input.dropdown-field {
    border: 1px solid $gray-common;
    color: #000a12;
    font-size: 14px;
    left: 0;
    line-height: 20px;
    min-width: 10px;
    padding: 4px 12px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .dropdown-button, .add-button {
    height: 30px;
    position: absolute;
    text-align: center;
    width: 30px;
    z-index: 20;
  }

  .dropdown-button {
    border: 1px solid $gray-common;
    right: 0;
    top: 0;
  }

  .add-button {
    background-color: #fff;
    border: none;
    color: $green-common;
    cursor: pointer;
    font-size: 30px;
    right: -35px;
    top: -3px;
  }

  .dropdown-selected-list {
    flex-wrap: wrap;
    padding: 40px 10px 0 10px;

    li {
      font-size: 16px;
      margin: 10px 25px 5px 0;
      padding-left: 20px;
      position: relative;
    }

    li .drop {
      color: $blue-common;
      cursor: pointer;
      font-size: 24px;
      left: -8px;
      position: absolute;
      top: -4px;
    }
  }

  .dropdown-wrap {
    position: relative;
    width: 100%;

    ul {
      border-left: 1px solid $gray-common;
      border-right: 1px solid $gray-common;
      display: none;
      left: 0;
      position: absolute;
      top: 30px;
      width: 100%;
      z-index: 10;

      li {
        background-color: #fff;
        border-bottom: 1px solid $gray-common;
        cursor: pointer;
        padding: 4px 12px;
      }
      li:hover { background-color: $gray-light; }
    }
  }
}