.form-item-container {
  .file-wrap {
    height: 400px;
    max-width: 400px;
    position: relative;
    text-align: center;

    img {
      min-height: 150px;
      min-width: 150px;
      max-height: 300px;
      max-width: 400px;
      object-fit: contain;
    }
  }

  .file-details {
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    height: 32px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    width: calc(100% - 88px);

    .caption {
      color: #ffffff;
      padding-left: 20px;
      text-align: left;
    }

    .fa {
      color: $green-dark;
      font-size: 32px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 100%;
    }

    .fa:before { content: "\F077"; }

    .form-details-wrap {
      margin-top: 13%;
      display: none;
    }
  }

  .file-details.active {
    .fa:before { content: "\F078"; }

    .form-details-wrap { display: block; }
  }
}