.col-1 { width: 100%; }

.col-1-2 { width: 50%; }

.col-1-3 { width: 33%; }

.col-1-4 { width: 25%; }

.col-1-5 { width: 20%; }

.col-1-8 { width: 12.5%; }

.col-1-10 { width: 10%; }

.col-1-20 { width: 5%; }

.col-2-3 { width: 66%; }

.col-2-5 { width: 40%; }

.col-3-4 { width: 75%; }

.col-3-5 { width: 60%; }

.col-4-5 { width: 80%; }

.col-5-8 { width: 62.5%; }

.col-md-15 { width: 15%; }

.col-md-30 { width: 30%; }

.col-md-45 { width: 45%; }

.col-md-55 { width: 55%; }

.col-md-70 { width: 70%; }

.col-md-90 { width: 90%; }

.col-md-95 { width: 95%; }

header {
  background-color: $gray-dark;
  width: 100%;

  .logo {
    display: block;
    padding: 10px;
  }

  .burger-button {
    background-color: $gray-dark;
    border: none;
    color: $white;
    cursor: pointer;
    font-size: 32px;
  }

  .burger-button:hover { color: $orange-light; }

  .welcome-wrap {
    color: $white;
    font-size: 16px;
    line-height: 32px;
    padding: 0 30px;

    span {padding-right: 30px}

    a { color: $white; }

    a:hover { color: $orange-light; }
  }
}