.items-list, .regular-list {
  width: 100%;

  thead {
    background-color: $black;
    color: $white;

    th {
      border-right: 1px solid $white;
      height: 32px;
      min-width: 75px;
      vertical-align: middle;
    }

    .column {
      padding: 5px;
      position: relative;

      .caption {
        font-size: 14px;
        width: 100%;
      }

      .search-wrap {
        .search-input {
          background-color: $white;
          border: none;
          display: none;
          padding: 2px;
          width: 0;
        }

        .search-expand {
          border: none;
          background-color: transparent;
          color: $white;
          padding: 5px;
        }
      }
    }

    .column.active .search-input {
      display: block;
    }

    .column-controls {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      right: 0;
      position: absolute;
      top: -1px;
    }

    .directions {
      .fa {
        cursor: pointer;
        display: block;
        font-size: 14px;
        width: 14px;
      }

      .fa:hover, .active {
        color: $orange-light;
      }
    }


  }

  td {
    line-height: 24px;
    padding: 5px 5px 0 5px;
    text-align: center;
    vertical-align: top;

    img.preview {
      max-height: 120px;
      max-width: 240px
    }
  }

  tbody tr:nth-child(even) { background-color: $gray-light; }

  .add-button {
    background-color: transparent;
    border: none;
    color: $green-common;
    cursor: pointer;
    display: block;
    font-size: 30px;
    height: 30px;
    position: relative;
    text-align: center;
    width: 30px;
    z-index: 20;
  }
}

.regular-list { margin-top: 35px; }

.key-placement {
  border: none;
  color: $black;
  font-size: 14px;
  line-height: 20px;
  min-width: 10px;
  padding: 4px 12px;
  width: 95%;
}