.messages-list {
  position: relative;

  ul {
    bottom: 0;
    position: absolute;
    right: 0;

    li {
      border-radius: 10px;
      display: none;
      margin-bottom: 2px;
      padding: 10px 30px 10px 15px;
      position: relative;
      width: 100%;
    }

    li.message-success {
      background-color: $green-common;
      border: 1px solid $green-dark;
      color: $white;

      .close:hover { background-color: $green-dark; }
    }

    li.message-warning {
      background-color: $orange-light;
      border: 1px solid $orange-dark;
      color: $white;

      .close:hover { background-color: $orange-dark; }
    }

    li.message-error {
      background-color: $red-light;
      border: 1px solid $red-dark;
      color: $white;

      .close:hover { background-color: $red-dark; }
    }

    .close {
      border-radius: 50%;
      cursor: pointer;
      font-size: 16px;
      height: 25px;
      padding-bottom: 1px;
      position: absolute;
      right: 0;
      top: 0;
      width: 25px;
    }
  }
}