.pagination-wrap {
  display: flex;
  justify-content: flex-end;
  position: relative;

  ul {
    display: flex;
    flex-wrap: nowrap;

    li {
      border: 1px solid $blue-common;
      border-left: none;

      a {
        color: $blue-common;
        display: block;
        font-size: 16px;
        padding: 7px 0;
        text-align: center;
        text-decoration: none;
        width: 32px
      }

      a:hover {
        color: #ffffff;
        background-color: $blue-common;
        font-weight: bold
      }

      a.active {
        background-color: $blue-common;
        color: $white;
        font-weight: bold
      }
    }

    li:first-child { border-left: 1px solid $blue-common; }
  }
}