.popup-wrap {
  background-color: #ffffff;
  border: 2px solid $gray-dark;
  display: none;
  left: 50%;
  max-width: 800px;
  min-height: 60px;
  min-width: 320px;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1100;

  > .close {
    color: $black;
    cursor: pointer;
    font-size: 20px;
    padding: 18px 20px;
    position: absolute;
    right: 0;
    top: 0;
  }

  > .close:hover {
    background-color: $black;
    color: $white;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    padding: 20px 0;
  }

  .button-wrap {
    padding: 5px 0;
    text-align: center;
  }
}

.error-popup-wrap {
  .close { color: $red-common; }

  .close:hover {
    background-color: $red-common;
    color: $white;
  }

  .error-title {
    border-bottom: 2px solid $black;
    color: $red-common;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 75%;

    .error-method, .error-url, .error-status { line-height: 24px; }

    .error-url { padding: 0 10px; }
  }

  .error-file, .error-line, .error-text { font-weight: bold; }

  .error-messages-wrap {
    overflow-y: scroll;
    max-height: 50vh;

    .error-message {
      border-bottom: 1px solid $gray-light;
      padding: 5px 0;

      strong { color: $red-dark; }
    }
  }
}

.external-image-link-popup {
  padding: 10px 15px;
  min-width: 320px;
  max-width: 600px;
  z-index: 1500;

  .external-link-wrap { width: 100%; }
}