.side-menu {
  height: 95vh;
  padding-top: 20px;
  max-width: 320px;

  ul {
    position: relative;

    li { position: relative; }

    a {
      border-bottom: $white;
      color: $white;
      display: block;
      font-size: 14px;
      padding: 10px;
      position: relative;
      text-decoration: none;

      .fa { padding-right: 10px; }

      .caption { text-decoration: underline; }

      span { font-size: 14px; }
    }

    a.selected {
      background-color: $orange-dark;
      color: $white;
    }

    a.arrow-right:before, a.arrow-down:before {
      color: #ffffff;
      font-family: 'FontAwesome';
      font-weight: 900;
      content: "\f105";
      font-size: 20px;
      position: absolute;
      right: 8px;
      top: 11px;
    }

    a.arrow-down:before { content: "\f107"; }

    a:hover {
      background-color: $orange-dark;
      color: $white;

      .caption { text-decoration: none; }
    }

    ul {
      background-color: $orange-light;
      display: none;

      li a {
        color: $black;
        padding: 10px 10px 10px 25px;
      }
    }
  }

  .active { display: block; }
}

.collapse {
  .logo { width: 60px !important; }

  .side-menu {
    width: 60px !important;

    ul {
      a { text-align: center; }

      .caption { display: none; }

      ul li a { padding: 10px; }
    }
  }
}