.validation-error-wrap {
  bottom: 50px;
  display: block;
  left: 0;
  position: absolute;
  z-index: 2000;

  .close {
    color: $red-common;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 7px;
    top: 5px;
    z-index: 2001;
  }

  .validation-message-wrap {
    background-color: #ffffff;
    border: 1px solid $red-common;
    border-radius: 15px;
    padding: 10px 25px 10px 15px;
    position: relative;
  }

  .validation-message-wrap:after {
    content: '';
    position: absolute;
    left: 15px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid $red-common;
  }

  p {
    color: $red-common;
    font-size: 12px;
    line-height: 20px;
  }
}