//Red
$red-light: #ff5131;
$red-common: #d50000;
$red-dark: #9b0000;

//Orange
$orange-light: #ff9e40;
$orange-common: #ff6d00;
$orange-dark: #c43c00;

//Yellow
$yellow-light: #ffff72;
$yellow-common: #ffeb3b;
$yellow-dark: #c8b900;

//Green
$green-light: #aee571;
$green-common: #7cb342;
$green-dark: #4b830d;

//Blue
$blue-light: #63a4ff;
$blue-common: #0d47a1;
$blue-dark: #002171;

//Black
$gray-light: #e2f1f8;
$gray-common: #cfd8dc;
$gray-dark: #263238;
$black: #000a12;

//White
$white: #fffff7;