@import "variables";
@import "header";

@import "dropdown-list";
@import "file-browser";
@import "items-list";
@import "messages-list";
@import "pagination";
@import "popup";
@import "side-menu";
@import "validation";

.body-wrap {
  background-color: $gray-dark;
}

.content-wrap {
  background-color: #ffffff;
  padding: 40px 20px 60px 40px;
  width: 100%;

  .page-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    padding-left: 9px;
  }
}

.page-controls-wrap, .bottom-controls-wrap {
  padding: 10px 0;
  width: 100%;

  .button {
    display: block;
    text-transform: uppercase;
  }

  .button:hover {
    background-color: $green-dark;
    color: $white;
  }

  select {
    color: $black;
    padding: 4px 12px;
  }
}

.button {
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  padding: 8px 16px;
  text-decoration: none;
  margin-right: 10px;
}

.button[disabled] {
  background-color: $gray-common !important;
  color: $gray-light !important;
}

.green {
  background-color: $green-common;
  color: $white;
}

.red {
  background-color: $red-common;
  color: $white;
}

.blue {
  background-color: $blue-common;
  color: $white;
}

.tet-blue { color: $blue-common; }

.text-gray { color: $gray-dark; }

.text-green { color: $green-common; }

.text-orange { color: $orange-common; }

.text-red { color: $red-common; }

.overlay, .preloader-wrap {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.preloader-wrap img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form-wrap {
  padding: 0 20px;
  position: relative;
  width: 100%;

  .form-details {
    display: none;
    width: 80%;
  }

  .form-details.active { display: block; }

  .form-assistant-wrap {
    background-color: #ffffff;
    border-left: 1px solid $gray-light;
    padding: 0 0 10px 40px;
    position: fixed;
    right: 0;
    top: 90px;
    width: 17.5%;

    ul.page-navigation {
      margin-bottom: 10px;
      position: relative;

      li {
        cursor: pointer;
        font-size: 14px;
        padding: 4px 0
      }

      li:hover { text-decoration: underline; }
    }

    .save-wrap {
      margin-top: 20px;
      position: relative;
      width: 100%;

      .button { padding: 10px 40px; }
    }

    .etc-info {
      color: $gray-dark;
      line-height: 20px;
    }
  }
}

.tabs-wrap {
  align-items: flex-end;
  border-bottom: 1px solid $blue-dark;
  display: flex;
  justify-content: flex-start;
  width: 100%;

  li {
    border-top: 1px solid $blue-dark;
    border-right: 1px solid $blue-dark;
    cursor: pointer;
    display: block;
    padding: 15px;
  }

  li:first-child { border-left: 1px solid $blue-dark; }

  li.active {
    background-color: $blue-dark;
    color: $white;
    padding: 20px;
  }
}

.done, .edit, .remove, .ban {
  padding: 5px 2px;
  text-decoration: none;
}

.done { color: $green-common }

.done:hover { color: $green-light; }

.edit { color: $orange-common; }

.edit:hover { color: $orange-light; }

.remove, .ban { color: $red-common; }

.remove:hover, .ban { color: $red-light; }

fieldset {
  border-top: 3px solid $orange-dark;
  margin-top: 75px;
  padding-top: 35px;
  position: relative;

  legend {
    font-size: 24px;
    left: 0;
    position: absolute;
    top: -35px
  }

  .expand-collapse {
    color: $white;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;

    .fa {
      display: block;
      padding: 10px;
    }
  }

  .row {
    padding: 10px 0;
    position: relative;
    width: 100%;

    .caption {
      font-size: 16px;
      line-height: 32px;
    }
  }

  label { position: relative; }

  .row.hide, .image-preview.hide { display: none; }

  .tab-form-row {
    .tab-form-misc-warp { display: none; }

    .tab-form-misc-warp.active { display: block; }

    .field-description {
      font-size: 14px;
      padding-left: 20px;
    }

    .tab-form-input {
      border: none;
      border-bottom: 1px solid $gray-common;
      color: $black;
      font-size: 14px;
      line-height: 20px;
      max-width: 120px;
      margin-left: 50px;
      padding: 4px 12px;
      text-align: center;
    }
  }
}

fieldset:nth-child(5n) {
  border-top: 3px solid $orange-common;

  .expand-collapse { background-color: $orange-common; }
}

fieldset:nth-child(5n+1) {
  border-top: 3px solid $red-common;

  .expand-collapse { background-color: $red-common; }
}

fieldset:nth-child(5n+2) {
  border-top: 3px solid $green-dark;

  .expand-collapse { background-color: $green-dark; }
}

fieldset:nth-child(5n+3) {
  border-top: 3px solid $yellow-common;

  .expand-collapse {
    background-color: $yellow-common;
    color: $gray-dark;
  }
}

fieldset:nth-child(5n+4) {
  border-top: 3px solid $blue-dark;

  .expand-collapse { background-color: $blue-dark; }
}

.input-text, .input-text-small {
  border: 1px solid $gray-common;
  color: $black;
  font-size: 14px;
  line-height: 20px;
  min-width: 10px;
  padding: 4px 12px;
}

.input-text { min-width: 250px; }

.textarea-block, .textarea-small {
  border: 1px solid $gray-common;
  color: $black;
  font-size: 14px;
}

.textarea-block {
  min-height: 150px;
  padding: 10px 15px;
  resize: vertical;
}

.textarea-small {
  height: 130px;
  padding: 4px 12px;
  resize: none;
}

.breadcrumbs {
  margin-bottom: 30px;
  position: relative;

  ul {
    li {
      display: inline-block;
      margin-right: 10px;
      position: relative;

      a, span {
        color: $black;
        cursor: pointer;
        font-size: 24px;
        padding: 5px 10px;
        text-decoration: none;
      }

      a:hover { text-decoration: underline; }
    }

    li:after {
      font-family: "FontAwesome";
      content: "\f105";
      font-size: 32px;
      position: absolute;
      top: 0;
      right: -16px;
    }

    li:last-child:after { content: none; }
  }
}

footer {
  bottom: 0;
  height: 0;
  position: fixed;
  width: 100%;
}