@import "variables";

.constructor-wrap {
  margin-top: 10px;
  position: relative;

  .constructor-list-wrap, .constructor-grid-wrap {
    box-sizing: border-box;
    padding: 10px;
    position: relative;
  }

  .constructor-grid-wrap { border-left: 1px solid $gray-dark; }

  .construction-elements-list {
    width: 100%;

    li {
      background-color: #ffffff;
      border: 1px solid $gray-dark;
      border-bottom: none;
      cursor: move;
      display: block;
      padding: 10px;
      text-align: center;
    }

    li.selected { background-color: $yellow-light; }

    li.sortable-chosen, li:last-child { border: 1px solid $gray-dark; }
  }

  .grid-controls {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 60;

    .fa { font-size: 32px; }
  }

  .grid-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  .grid {
    position: relative;

    .control-row {
      border: 1px solid $gray-common;
      padding: 5px;
      margin-top: 10px;
      min-height: 80px;
      position: relative;

      .row-controls {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 60;
      }
    }

    .control-row.active {
      border: 1px solid $green-common;
      box-shadow: 0 0 4px $green-light;
    }

    .grid-content-wrap {
      min-height: 80px;
      width: 100%;

      li.grid-content-hint {
        color: $gray-light;
        font-size: 32px;
        font-weight: bold;
        line-height: 70px;
        position: relative;
        text-align: center;
        user-select: none;
        width: 100%;
      }

      li:not(.grid-content-hint) {
        box-sizing: border-box;
        padding: 10px;
      }

      .grid-content-item-wrap {
        border-right: 1px solid $gray-light;
        min-height: 120px;
        position: relative;
        width: 100%;
      }

      li:last-child .grid-content-item-wrap {
        border: none;
      }
    }

    .block-controls-wrap {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 10;

      .block-type { padding-left: 10px; }
    }

    .grid-container-content {
      height: 200px;
      padding-top: 20px;
      position: relative;

      .grid-button {
        opacity: .5;
        font-size: 120px;
        font-weight: bold;
      }
    }

    .image-container {
      position: relative;

      img {
        max-height: 180px;
        max-width: 400px;
        position: relative;
      }

      .etc {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        color: $white;
        min-width: 70px;
        max-width: 250px;
        right: 0;
        padding: 5px 10px;
        position: absolute;
      }
    }

    .textarea-container {
      min-height: 40px;
      height: 100px;
      max-height: 110px;
      margin-top: 20px;
      position: relative;
      resize: vertical;
    }

    table {
      thead tr {
        background-color: $gray-dark;
        color: $white;
        text-align: center;
      }

      tbody tr { color: $gray-dark; }

      tr { border: 1px solid $gray-dark; }

      td, th { padding: 4px 8px; }
    }

    .preview-slider {
      align-items: stretch;
      display: flex;
      justify-content: space-between;
      position: relative;

      .preview-slider-left, .preview-slider-right {
        background-color: $gray-common;
        color: $white;
        cursor: pointer;
        font-size: 24px;
        height: 100%;
        top: 0;
        position: absolute;
        width: 30px;
        z-index: 20;
      }

      .preview-slider-left { left: 0; }
      .preview-slider-right { right: 0; }

      .preview-slider-body {
        position: relative;
        width: 450px;

        li {
          display: none;

          div { position: relative; }

          img {
            max-height: 180px;
            max-width: 400px;
            object-fit: contain;
          }

          .preview-slider-info {
            background-color: rgba(0, 0, 0, .5);
            bottom: -10px;
            color: $white;
            font-size: 14px;
            padding: 5px 10px;
            position: absolute;
            right: 20px;
          }
        }
        li.active { display: block; }
      }
    }
  }
}

.page-constructor-popup {
  box-sizing: border-box;
  padding: 10px 15px;
  min-width: 320px;
  max-width: 1024px;

  button.add-button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    .fa {
      color: $green-common;
      font-size: 24px;
    }
  }

  .overflow-box {
    max-height: 350px;
    overflow-y: scroll;
  }

  .table-container {
    max-width: 720px;

    input {
      border: none;
      padding: 3px 6px;
    }

    thead tr {
      background-color: $gray-dark;

      th, td { padding: 1px; }

      th {
        border-right: 1px solid $white;

        input {
          background-color: $gray-dark;
          color: $white;
        }
      }

      td {
        border-right: 1px solid $gray-dark;

        input {
          background-color: $white;
          color: $black;
        }
      }

      th:last-child, td:last-child { border-right: none; }
    }
  }

  .tabs-container {
    .tabs-container-list {
      align-items: flex-end;
      display: flex;
      justify-content: flex-start;
      margin: 5px 5px 10px 5px;
      position: relative;
      width: 100%;

      li {
        border: 1px solid $blue-common;
        text-align: center;
        padding: 2px 4px;

        .input-text-small {
          border: none;
          width: 150px;
        }
      }

      li.active { padding: 8px; }

      li:last-child {
        border: none;
        width: 56px;

        .fa { font-size: 32px; }
      }
    }

    .tabs-container-caption, .tabs-container-texts-wrap { padding: 5px; }

    .tabs-container-texts-wrap .tabs-container-text{ display: none; }
    .tabs-container-texts-wrap .tabs-container-text.active{ display: block; }

    textarea {
      width: 99%;
      min-height: 100px;
      max-height: 320px;
      resize: vertical;
    }
  }

  .wysiwyg {
    min-width: 742px;
    min-height: 400px;
  }

  .list-container-wrap {
    .list-container, .list-container-controls { padding: 10px; }

    .list-container {
      li {
        border-bottom: 1px solid $gray-light;

        .list-container-controls-move-wrap {
          font-size: 16px;
          text-align: center;
          width: 30px;

          .fa {
            display: block;
            cursor: pointer;
            width: 100%;
          }

          .fa:hover { background-color: $gray-common; }
        }

        .remove-list-container {
          color: $red-common;
          cursor: pointer;
          font-size: 24px;
          padding: 0 5px;
        }

        .remove-list-container:hover { color: $red-dark; }
      }
    }
  }

  .page-constructor-content .row { padding: 5px 0; }

  .select-container {
    box-sizing: border-box;
    padding-left: 37px;
  }

  .slider-wrap {
    width: 100%;

    .slider-preview-wrap {
      position: relative;
      width: 65%;

      .slider-preview, .slide-left, .slide-right { height: 400px; }
      .slide-left, .slide-right {
        background-color: rgba(0, 0, 0, .5);
        color: $white;
        cursor: pointer;
        font-size: 32px;
        position: absolute;
        top: 0;
        width: 40px;
        z-index: 1200;
      }

      .slide-left { left: 0; }
      .slide-right { right: 0; }

      .slider-preview {
        li {
          display: none;
          position: relative;
          text-align: center;

          div { height: 400px; }

          img {
            max-height: 400px;
            max-width: 560px;
            object-fit: contain;
          }
        }

        li.active { display: block; }
      }
    }

    .slider-images-list-wrap {
      max-height: 400px;
      overflow-y: scroll;
      width: 34%;

      li { border-bottom: 1px solid $gray-common; }

      li.active {
        background-color: $blue-light;
        color: $white;
      }

      .name, .size {
        font-size: 12px;
        padding: 4px;
      }

      .move, .remove { width: 32px; }
      .move { cursor: move; }
      .remove { cursor: pointer; }
    }
  }
  .file-controls { padding: 10px 0 5px 0; }
}
