@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('/fonts/raleway/Raleway-Regular.eot');
  src: url('/fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/raleway/Raleway-Regular.woff2') format('woff2'),
  url('/fonts/raleway/Raleway-Regular.woff') format('woff'),
  url('/fonts/raleway/Raleway-Regular.ttf') format('truetype'),
  url('/fonts/raleway/Raleway-Regular.svg') format('svg');
}

* {box-sizing: border-box;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Raleway, sans-serif;
  line-height: 16px;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}

body {
  line-height: 1;
  font-size: 12px;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

sup {
  font-size: 0.825em;
  position: relative;
  top: -0.4em;
  vertical-align: baseline;
}

sub {
  bottom: -0.4em;
  font-size: 0.825em;
  position: relative;
  vertical-align: baseline;
}

.tac {text-align: center !important;}

.tal {text-align: left !important;}

.tar {text-align: right !important;}

.fl {float: left;}

.fr {float: right;}

.b, strong {font-weight: bold;}

.i, em {font-style: italic;}

.u, ins {text-decoration: underline;}

.del, del {text-decoration: line-through;}

.dn {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex-center-start {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.flex-center-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-center-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.flex-center-around {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.flex-center-end {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.flex-stretch-start {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
}

.flex-stretch-between {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}